<a href="https://colab.research.google.com/github/aliya156/haihua_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1_5731.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

**bold text**(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
def Len(string):
    return sum( 1 for i in string);
 
string = 'python language'
print(Len(string))

15

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
from collections import Counter
 
# initializing string
String = "google.com"
 
# using collections.Counter() to get
# count of each element in string
result = Counter(String)
 
# printing result
print("Count of all characters in GeeksforGeeks is :\n "
      + str(result))

Count of all characters in GeeksforGeeks is :
 Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

**bold text**(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
my_list = range(1,10)
# my_list = [1,2,3,4,5,6,7,8,9]
sum(my_list)

45

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def replace_char(str):  
  char = str[0]  
  str = str.replace(char, '$')  
  str = char + str[1:]  
  
  return str  
  
print(replace_char('samsung'))

sam$ung

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a=int(input("Enter a number :"))
b=int(input("Enter a number :"))

s=3.14*((1+(a/b))**3)

print('The result :', s)

Enter a number :2
Enter a number :3
The result : 14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
for i in (dic1, dic2, dic3) : dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
tuple = (10, 4, 5, 6, 8)
element = 6
x = [i for i in tuple if i == element]
print(["yes" if x else "no"])

['yes']

**bold text**# (8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
set={4,10,7,22,20,30,100}
print("Maximum number :", max(set))
print("Minimum number :", min(set))

Maximum number : 100
Minimum number : 4

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
import random
from itertools import islice
#input
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
#this is to split the input list with each chunk in range of 3 and 5
length_to_split = []

#first assigning split length list with range of 3 and 5
for i in range(5):
  length_to_split.append(random.randint(3,5))

#if the split length list is not equal to length of input list
for i in range(5):
  if sum(length_to_split)!=len(student_list):
    if length_to_split[i]==3 or length_to_split[i]==4:
      length_to_split[i] = length_to_split[i] + 1
    else:
        break

#this is the operation to split the list into chunk with given
Input = iter(student_list)
Output = [list(islice(Input, elem)) for elem in length_to_split]

print("Initial list is:\n", student_list )
print("\nSplit length list: \n", length_to_split)
print("\nList after splitting\n")

Initial list is:
 ['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940', 'bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135', 'nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995', 'at0739', 'at0768', 'mv0299', 'tv0119', 'dy0091']

Split length list:
 [5, 4, 5, 4, 4]

List after splitting

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
def duplicate(nums):
    number_set = set()
    no_duplicate = -1

    for i in range(len(nums)):

        if nums[i] in number_set:
            return nums[i]
        else:
            number_set.add(nums[i])

    return no_duplicate

print(duplicate([1, 2, 3, 4, 4, 5]))
print(duplicate([1, 2, 3, 4]))
print(duplicate([1, 1, 2, 3, 3, 2, 2]))

4
-1
1

**bold text**(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def sundays(year):
       dt = date(year, 1, 1)      
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for x in sundays(2023):
   print(x)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31